@using Sitecore.Mvc.Presentation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainLayout</title>
</head>
<body>
    <div> 
        hello
        @Html.Sitecore().Placeholder("main")
    </div>
</body>
</html>
